opencog/embodiment/RuleValidation/VirtualWorldData/VirtualWorld.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.opencog.org/embodiment"
            xmlns="http://www.opencog.org/embodiment"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:element name="world-definition" type="WorldDefinitionData"/>

    <xsd:complexType name="WorldDefinitionData">
        <xsd:sequence>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="entity-info" type="EntityList" 
                             minOccurs="1" maxOccurs="1"/>
                <xsd:element name="indefinite-object-info" type="IndefiniteObjectList"
                             minOccurs="1" maxOccurs="1"/>
                <xsd:element name="world-state-info" type="WorldStateData"
                             minOccurs="1" maxOccurs="1"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>    

    <xsd:complexType name="WorldStateData">
         <xsd:sequence>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="near-info" type="NearList"
                             minOccurs="1" maxOccurs="1"/>
                <xsd:element name="next-info" type="NextList"
                             minOccurs="1" maxOccurs="1"/>
                <xsd:element name="owner-info" type="OwnerList"
                             minOccurs="1" maxOccurs="1"/>
                <xsd:element name="moving-toward-info" type="MovingTowardList"
                             minOccurs="1" maxOccurs="1"/>
                <xsd:element name="inside-fov-info" type="InsideFoVList"
                             minOccurs="1" maxOccurs="1"/>
                <xsd:element name="has_said-info" type="HasSaidList"
                             minOccurs="1" maxOccurs="1"/>
                <xsd:element name="relations-info" type="RelationList"
                             minOccurs="1" maxOccurs="1"/>
                <xsd:element name="last-agent-action-info" type="LastAgentActionList"
                             minOccurs="1" maxOccurs="1"/>
                <xsd:element name="last-pet-schema-info" type="PetSchemaData"
                             minOccurs="1" maxOccurs="1"/>
            </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="pet-id"   type="xsd:string" use="required"/>
        <xsd:attribute name="owner-id" type="xsd:string" use="required"/>
        <xsd:attribute name="pet-mode" type="xsd:string" use="required"/>
        <xsd:attribute name="agent-state" type="xsd:int" use="optional" default="1"/>
        <xsd:attribute name="action-repetition" type="xsd:int" use="required"/>
    </xsd:complexType>

    <!-- The indefinite objects list -->
    <xsd:complexType name="IndefiniteObjectList">
        <xsd:all>
            <xsd:element name="nearest_object" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nearest_edible" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nearest_movable" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nearest_avatar" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nearest_pet" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nearest_small" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nearest_moving" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nearest_noisy" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nearest_friendly" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nearest_poo_place" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nearest_pee_place" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nearest_pickupable" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nearest_drinkable" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
           
            <xsd:element name="random_object" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="random_edible" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="random_movable" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="random_pickupable" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="random_drinkable" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="random_avatar" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="random_pet" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="random_small" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="random_moving" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="random_noisy" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="random_friendly" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="random_poo_place" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="random_pee_place" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>

            <xsd:element name="food_bowl" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="water_bowl" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="pet_home" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="pet_bowl" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="last_food_place" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="exemplar_avatar" type="StringDataElementType" 
                minOccurs="0" maxOccurs="1"/>
        </xsd:all>
    </xsd:complexType>
    
    <!-- The Entities list -->
    <xsd:complexType name="EntityList">
        <xsd:sequence>
            <xsd:element name="entity-object" type="EntityData" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="agent-object"  type="AgentData"  minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>


    <!-- The entity types allowed -->
    <xsd:simpleType name="EntityType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="pet"/>
            <xsd:enumeration value="object"/>
            <xsd:enumeration value="avatar"/>
            <xsd:enumeration value="accessory"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- Entity properties -->
    <xsd:complexType name="EntityData">
        <xsd:attribute name="name"       type="xsd:string" use="required"/> 
        <xsd:attribute name="type"       type="EntityType" use="required"/> 
        
        <xsd:attribute name="noisy"      type="xsd:boolean" use="optional" default="false"/> 
        <xsd:attribute name="small"      type="xsd:boolean" use="optional" default="false"/> 
        <xsd:attribute name="edible"     type="xsd:boolean" use="optional" default="false"/> 
        <xsd:attribute name="movable"   type="xsd:boolean" use="optional" default="false"/> 
        <xsd:attribute name="drinkable"  type="xsd:boolean" use="optional" default="false"/> 
        <xsd:attribute name="pee_place"  type="xsd:boolean" use="optional" default="false"/> 
        <xsd:attribute name="poo_place"  type="xsd:boolean" use="optional" default="false"/> 
        <xsd:attribute name="pickupable" type="xsd:boolean" use="optional" default="false"/> 

        <xsd:attribute name="moving" type="xsd:boolean" use="optional" default="false"/> 
    </xsd:complexType>

    <!-- AgentData - extending EntityData -->
    <xsd:complexType name="AgentData">
        <xsd:complexContent>
            <xsd:extension base="EntityData">
               
                <xsd:all>
                <xsd:element name="hunger"  type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="thirst"  type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="energy"  type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="fitness" type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="pee_urgency" type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="poo_urgency" type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>

                <xsd:element name="fear"  type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="hate"  type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="love"  type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="anger" type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="pride" type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="gratitude"  type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="happiness"  type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="excitement" type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>

                <xsd:element name="excitability" type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="playfulness" type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="curiosity" type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="friendliness" type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="fearfulness" type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="aggressiveness" type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="appreciativeness" type="FloatDataElementType" minOccurs="1" maxOccurs="1"/>
                </xsd:all>

                <xsd:attribute name="novelty"  type="xsd:boolean" use="optional" default="false"/>
                <xsd:attribute name="learning"  type="xsd:boolean" use="optional" default="false"/>
                <xsd:attribute name="askedToTry"  type="xsd:boolean" use="optional" default="false"/>
                <xsd:attribute name="learnedTricks"  type="xsd:boolean" use="optional" default="false"/>
                <xsd:attribute name="requestedSchema"  type="xsd:boolean" use="optional" default="false"/>
                
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="FloatDataElementType">
        <xsd:attribute name="value" type="xsd:float" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="StringDataElementType">
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <!-- Predicates data  -->
    <xsd:complexType name="SimplePredicateData">
        <xsd:attribute name="first"  type="xsd:string" use="required"/>
        <xsd:attribute name="second" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="HasSaidPredicateData">
        <xsd:attribute name="agent"  type="xsd:string" use="required"/>
        <xsd:attribute name="message"  type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="RelationPredicateData">
        <xsd:complexContent>
            <xsd:extension base="SimplePredicateData">
                <xsd:attribute name="name"  type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="NearList">
        <xsd:sequence>
            <xsd:element name="near" type="SimplePredicateData" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NextList">
        <xsd:sequence>
            <xsd:element name="next" type="SimplePredicateData" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OwnerList">
        <xsd:sequence>
            <xsd:element name="owns" type="SimplePredicateData" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MovingTowardList">
        <xsd:sequence>
            <xsd:element name="moving-toward" type="SimplePredicateData" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InsideFoVList">
        <xsd:sequence>
            <xsd:element name="inside-fov" type="SimplePredicateData" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RelationList">
        <xsd:sequence>
            <xsd:element name="relation" type="RelationPredicateData" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="HasSaidList">
        <xsd:sequence>
            <xsd:element name="has-said" type="HasSaidPredicateData" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Agent and Pet actions -->
    <xsd:complexType name="AgentActionData">
         <xsd:sequence>
            <xsd:element name="param" type="StringDataElementType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="agent"  type="xsd:string" use="required"/>
        <xsd:attribute name="action" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="PetSchemaData">
         <xsd:sequence>
            <xsd:element name="param" type="StringDataElementType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="schema"  type="xsd:string" use="required"/>
        <xsd:attribute name="result" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="LastAgentActionList">
        <xsd:sequence>
            <xsd:element name="last-action" type="AgentActionData" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>

